version: "3.9"

services:
  api:
    build:
      context: ./BACK
    container_name: api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080

  front:
    build:
      context: ./FRONT
    container_name: front
    ports:
      - "4200:80"
    depends_on:
      - api
